A database is a structured collection of data that is organized in a way that allows for efficient storage, retrieval, and manipulation of that data.

SQL Databases:

Structured Data: SQL databases are primarily designed for structured data, which means data that fits neatly into tables with rows and columns. They are based on a fixed schema, where the structure of the data is defined before data is inserted.

ACID Compliance: SQL databases are known for their strong consistency and ACID (Atomicity, Consistency, Isolation, Durability) compliance. This ensures that transactions are processed reliably, and data integrity is maintained, even in the face of failures.

Relational Model: SQL databases follow a relational model, where data is organized into tables with defined relationships between them. This allows for complex queries and data manipulation using SQL queries.

Vertical Scalability: SQL databases are typically scaled vertically, which means you can increase their capacity by adding more resources to a single server (e.g., CPU, RAM, storage). This can be expensive and may have limits.

Examples: MySQL, PostgreSQL, Oracle, Microsoft SQL Server are examples of SQL databases.

NoSQL Databases:

Flexible Schema: NoSQL databases are designed for semi-structured or unstructured data. They can handle data that doesn't fit neatly into tables and can adapt to changing data structures. They often use a schema-less or schema-flexible approach.

BASE Semantics: NoSQL databases follow BASE (Basically Available, Soft state, Eventually consistent) semantics, which prioritize availability and partition tolerance over strong consistency. This makes them suitable for distributed systems and high scalability.

Non-relational Model: NoSQL databases come in various models, including document-oriented, key-value, column-family, and graph databases. Each model is optimized for specific types of data and use cases.

Horizontal Scalability: NoSQL databases are typically scaled horizontally, allowing you to add more servers to a distributed cluster to handle increased workloads. This approach is often more cost-effective for handling large-scale data.

Examples: MongoDB (document-oriented), Cassandra (column-family), Redis (key-value), and Neo4j (graph) are examples of NoSQL databases.

DDL, or Data Definition Language, is a subset of SQL (Structured Query Language) used for defining and managing the structure or schema of a database. DDL statements are responsible for creating, altering, and deleting database objects like tables, indexes, and constraints. DDL commands include CREATE, DROP, ALTER, and TRUNCATE, among others.

1.CREATE:

The CREATE statement is used to create new database objects, such as tables, indexes, views, or schemas.
Example: Creating a new table named "Employees" with columns for employee information

In [ ]:
CREATE TABLE Employees (
    EmployeeID INT PRIMARY KEY,
    FirstName VARCHAR(50),
    LastName VARCHAR(50),
    Salary DECIMAL(10, 2)
);

DROP:

The DROP statement is used to delete existing database objects, such as tables, indexes, or views. Be cautious when using DROP, as it permanently deletes data.
Example: Dropping the "Employees" table.

In [ ]:
DROP TABLE Employees;

ALTER:

The ALTER statement is used to modify the structure of an existing database object. It can be used to add, modify, or delete columns, constraints, or indexes.
Example: Adding a new column "Email" to the "Employees" table.

In [ ]:
ALTER TABLE Employees
ADD Email VARCHAR(100);

TRUNCATE:

The TRUNCATE statement is used to remove all rows from a table quickly. Unlike DELETE, it doesn't log individual row deletions and is often faster for large-scale data removal.
Example: Truncating the "Employees" table to remove all employee records.

In [ ]:
TRUNCATE TABLE Employees;

DML, or Data Manipulation Language, is a subset of SQL (Structured Query Language) used for managing and manipulating the data within a database. DML statements are responsible for inserting, updating, and deleting data in database tables. The three primary DML commands are INSERT, UPDATE, and DELETE.

1.INSERT:

The INSERT statement is used to add new rows (records) of data into a database table.
Example: Inserting a new employee record into an "Employees" table.

In [ ]:
INSERT INTO Employees (EmployeeID, FirstName, LastName, Salary)
VALUES (1, 'John', 'Doe', 50000.00);

2.UPDATE:

The UPDATE statement is used to modify existing data in a database table.
Example: Updating the salary of an employee in the "Employees" table.

In [ ]:
UPDATE Employees
SET Salary = 55000.00
WHERE EmployeeID = 1;

3.DELETE:

The DELETE statement is used to remove one or more rows from a database table.
Example: Deleting an employee record from the "Employees" table.

In [ ]:
DELETE FROM Employees
WHERE EmployeeID = 1;

DQL, or Data Query Language, is a subset of SQL (Structured Query Language) used for querying and retrieving data from a database. The primary DQL command is SELECT, which allows you to retrieve specific data from one or more database tables

1.SELECT:

The SELECT statement is used to query data from a database table or tables. It allows you to specify the columns you want to retrieve, filter the rows you want to retrieve, and define the order of the results.
Example: Retrieving employee names and salaries from an "Employees" table:

In [ ]:
SELECT FirstName, LastName, Salary
FROM Employees;

Primary Key and Foreign Key are two important concepts in relational databases that define relationships between tables and ensure data integrity. They are used to establish and enforce constraints on the data within a database.

Primary Key:
A Primary Key is a column or a set of columns in a database table that uniquely identifies each row or record in that table. Here are some key points about Primary Keys:

Uniqueness: A Primary Key must contain unique values for each row in the table. No two rows can have the same values in the Primary Key column(s).

Uniqueness Enforcement: The database management system (DBMS) automatically enforces the uniqueness of the Primary Key values, preventing duplicate entries.

Not Null: A Primary Key column cannot contain NULL values. Every row must have a valid, non-null value in the Primary Key column(s).

Indexing: Typically, Primary Keys are automatically indexed by the DBMS for faster data retrieval.

Identification: Primary Keys are used to uniquely identify records in the table and establish relationships with other tables in the database.

Example:
Consider an "Employees" table with an "EmployeeID" column as the Primary Key. Each employee is uniquely identified by their EmployeeID, and this constraint ensures that there are no duplicate EmployeeIDs in the table.

Foreign Key:
A Foreign Key is a column or a set of columns in one table that is used to establish a link between the data in two tables. It creates a relationship between tables based on the values in the Foreign Key and the Primary Key in another table. Here are some key points about Foreign Keys:

Referential Integrity: Foreign Keys enforce referential integrity, which means they ensure that the values in the Foreign Key column(s) correspond to values in the Primary Key column(s) of another table.

Relationships: Foreign Keys are used to establish relationships between tables. They define how data in one table is related to data in another table.

Data Consistency: Foreign Keys help maintain data consistency by preventing the insertion of rows with Foreign Key values that do not exist in the referenced table's Primary Key.

Cascading Actions: DBMS systems can be configured to perform cascading actions when changes are made to records in the referenced table. For example, you can specify that when a referenced record is deleted, all related records in other tables should also be deleted (CASCADE DELETE).

Example:
In a database that stores information about customers and their orders, a "CustomerID" column in the "Orders" table can be a Foreign Key that references the "CustomerID" Primary Key in the "Customers" table. This establishes a relationship between orders and customers, ensuring that each order is associated with a valid customer.

In [1]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.1.0-cp310-cp310-manylinux_2_17_x86_64.whl (27.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 27.5/27.5 MB 49.0 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in /opt/conda/lib/python3.10/site-packages (from mysql-connector-python) (4.21.11)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.1.0
Note: you may need to restart the kernel to use updated packages.

In [3]:
import mysql.connector

db_config = {
    "host": "localhost",        
    "user": "your_username",    
    "password": "your_password",
    "database": "your_db_name"  
}

try:
    connection = mysql.connector.connect(**db_config)

    if connection.is_connected():
        print("Connected to MySQL database")
        cursor = connection.cursor()
        cursor.execute("SELECT * FROM your_table_name") 
        rows = cursor.fetchall()

        for row in rows:
            print(row)

except mysql.connector.Error as error:
    print("Error connecting to MySQL:", error)

finally:
    if 'connection' in locals():
        connection.close()
        print("MySQL connection closed")

DatabaseError: 2003 (HY000): Can't connect to MySQL server on 'localhost:3306' (99)

1.cursor() Method:

The cursor() method is used to create a cursor object associated with the database connection. A cursor is like a pointer or a handle that allows you to execute SQL queries and fetch results from the database.
You can think of the cursor as a work area where you can execute SQL commands.
In the code above, we create a cursor using cursor = connection.cursor().

2.execute() Method:

The execute() method is used to execute SQL queries or commands. You pass your SQL query as a string to this method.
After calling execute(), the cursor is positioned at the first row of the result set (if applicable) or ready for further operations.
In the code above, we execute the SQL query cursor.execute(sql_query) to fetch data from the database.

In SQL, when you construct a query, the clauses are typically executed in a specific order, although some clauses can be omitted or rearranged depending on the query's purpose. Here's the typical order of execution for the clauses in an SQL query:

SELECT: The SELECT clause is used to specify the columns you want to retrieve from one or more tables.

FROM: The FROM clause specifies the table or tables from which you want to retrieve data. It defines the source of the data you are querying.

JOIN: If your query involves multiple tables, you can use JOIN clauses to combine data from different tables based on specified join conditions.

WHERE: The WHERE clause is used to filter rows based on specified conditions. It narrows down the results to only those rows that meet the specified criteria.

GROUP BY: If you want to group rows based on the values in one or more columns, you can use the GROUP BY clause. This is often used in conjunction with aggregate functions like SUM, COUNT, AVG, etc.

HAVING: The HAVING clause is used to filter grouped results based on specified conditions. It works similarly to the WHERE clause but operates on grouped data.

ORDER BY: The ORDER BY clause specifies the order in which the results should be sorted, such as ascending or descending order based on one or more columns. It comes after the filtering and grouping operations.

LIMIT (or equivalent): The LIMIT clause, or its equivalent in different database systems, limits the number of rows returned by the query. It is often used for pagination or to restrict the result set to a specific number of rows.

OFFSET (optional): The OFFSET clause, when used with LIMIT, specifies the starting point from which to retrieve rows. It is also used for pagination to skip a certain number of rows before retrieving the next set.

UNION (optional): The UNION clause is used to combine the results of two or more SELECT statements into a single result set. It's an optional clause and is used when you want to merge data from multiple queries.